<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.24/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="max-w-300 mx-auto mb-20 md:overflow-hidden lg:overflow-hidden">
    <div class="flex flex-col md:flex-row lg:flex-row">
      <!-- image section  -->
      <div
        class="w-full min-h-screen bg-[url('asset/sign_in/sign_up.jpg')] bg-cover bg-center bg-no-repeat flex-1"
      >
        <!-- <img
          class="w-[780px] md:w-[780px] lg:w-[780px] h-full object-cover"
          src="asset/sign_in/sign_up.jpg"
          alt=""
        /> -->
        <div
          class="h-[100%] flex flex-col justify-end items-center md:relative md:bottom-28 lg:relative lg:bottom-32 gap-5"
        >
          <h1 class="font-bold text-5xl text-white">Welcome Back!</h1>
          <p class="text-white text-lg font-semibold text-center">
            "An idea not written down is an idea lost." — Henry Ford
          </p>
        </div>
      </div>
      <!-- text section  -->
      <div class="flex-1">
        <!-- nav bar -->
        <div class="flex justify-between p-8">
          <img class="h-8" src="asset/logo 1.png" alt="" />
          <a href="landing.html">
            <button class="border border-black rounded-xl px-3 py-1">
              Back <span><i class="fa-solid fa-arrow-right"></i></span></button
          ></a>
        </div>
        <!-- sign in  -->
        <div class="flex flex-col justify-center items-center">
          <!-- text  -->
          <div>
            <h2 class="text-2xl text-center font-bold">Sign In</h2>
            <p class="text-sm text-center text-black">
              Enter your native memo account details
            </p>
          </div>
          <div class="flex flex-col justify-center my-10">
            <!-- user name email  -->
            <div class="flex flex-col">
              <label class="text-sm mb-2" for="sign">Username/Email</label>
              <input
                class="text-sm text-left py-2.5 px-4 w-96 bg-[#FFF] rounded-3xl border border-black"
                type="email"
                placeholder="Username/email"
                id="sign"
              />
            </div>
            <!-- password  -->
            <div class="flex flex-col">
              <label class="text-sm mt-5 mb-2" for="pass">Password</label>
              <input
                class="text-sm text-left py-2.5 px-4 w-96 bg-[#FFF] rounded-3xl border border-black"
                type="password"
                placeholder="Username/email"
                id="pass"
              />
            </div>
            <!-- forgot pass  -->
            <div class="flex items-center justify-between">
              <!-- Remember Me -->
              <div class="flex items-center space-x-2 my-2">
                <input
                  type="checkbox"
                  id="remember"
                  class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring focus:ring-blue-500"
                />
                <label
                  for="remember"
                  class="text-sm text-gray-700 cursor-pointer"
                  >Remember Me</label
                >
              </div>

              <!-- Forgot Password -->
              <a href="#" class="text-sm text-blue-600 hover:underline"
                >Forgot Password?</a
              >
            </div>
          </div>
          <!-- sign up button  -->
          <div>
            <button
              class="py-2.5 px-4 w-96 text-sm font-semibold bg-[#FFB845] rounded-3xl"
            >
              Sign In
            </button>
          </div>
          <!-- did not have account  -->
          <div class="text-center mt-8">
            <p class="text-sm text-black font-semibold">
              Didn't have an account?
              <a href="#" class="text-blue-600 font-semibold hover:underline"
                >Create Account</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
